body{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#container{
    width: 770px;
}
#weekdays{
    width: 100%;
    display:flex;
}
#weekdays div {
    width: 100px;
    padding: 10px;
}
#calendar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.day{
    width: 100px;
    height: 100px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: aquamarine;
}
.padding{
    background-color:rgba(127, 255, 212, 0.425);
}