body{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
#header{
  display: flex;
  justify-content: center;
  gap: 10px;
}
#monthDisplay{
  font-size:larger;
}
#container{
    width: 770px;
}
#weekdays{
    width: 100%;
    display:flex;
}
#weekdays div {
    width: 100px;
    padding: 10px;
}
#calendar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.day{
    width: 100px;
    height: 100px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(57, 63, 176, 0.594);
}
.day:hover{
    background-color: rgb(57, 63, 176);
}
.day + #currentDay {
  background-color:rgba(57, 63, 176, 0.894);
}
.day + #currentDay:hover {
  background-color:rgb(57, 63, 176);
}
.padding{
    background-color:rgba(57, 63, 176, 0.209);
}
.event{
background-color: #a746f7af;
color: white;
max-height: 55px;
overflow: hidden;
}
#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #nextButton, #backButton{
    background-color: rgba(57, 63, 176, 0.209);
    border-radius: 5rem;
  }
  #nextButton:hover, #backButton:hover{
    background-color: rgba(57, 63, 176, 0.594);
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }